.adress {
  padding: 24px 20px;
  display: flex;
  justify-content: space-around;

  @media (min-width: 767px) {
    justify-content: space-between;
    padding-left: 68px;
    padding-right: 68px;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
    position: absolute;
    left: 110px;
    bottom: 136px;
    background-color: #ffffff;
  }
}

.adress--bg-gray {
  background-color: #f2f2f2;
}

.adress__invitation {
  width: 140px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-family-oswald;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: 767px) {
    font-size: 20px;
    line-height: 25px;
  }
}

.adress__in-city {
  width: 140px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;

  @media (min-width: 767px) {
    width: 166px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }
}

.adress__in-city br {
  display: none;

  @media (min-width: 767px) {
    display: block;
  }
}
