.adress {
  padding: 24px 20px;
  //margin-bottom: 22px;
  display: flex;
  justify-content: space-around;
}

.adress__invitation {
  width: 140px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-family-oswald;
  color: #000000;
  text-transform: uppercase;
}

.adress__in-city {
  width: 140px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
