.btn {
  padding-top: 11px;
  padding-bottom: 11px;
  width: 280px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-family-oswald;
  color: #ffffff;
  background-color: #67b737;
  text-transform: uppercase;
  text-decoration: none;
}

.btn--bg-gray {
  color: #444444;
  background-color: #f0f1f0;
}
