.btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-family-oswald;
  color: #ffffff;
  background-color: #67b737;
  text-transform: uppercase;
}

.&--bg-gray {
  background-color: #f0f1f0;
}
