.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog--bg-gray {
  background-color: #f2f2f2;
}

.catalog__title {
  margin: 0;
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: $font-family-oswald;
  color: #000000;
}

.catalog__list {
  @include resetList;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.catalog__item {
  width: 320px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.catalog__load-more {
  width: 320px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}

.catalog__load-more .catalog__title {
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 80px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-family-oswald;
  color: #000000;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: -48px;
    left: 98px;
    display: block;
    width: 30px;
    height: 30px;
    background-color: gray;
  }
}

.catalog__text {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
