.comment-textarea::placeholder {
  font: 400 16px/16px $font-family-oswald;
  color: $gray-text;
  text-transform: uppercase;
}

.comment-textarea {
  font: 400 16px/16px $font-family-oswald;
  color: $gray-text;
  text-transform: uppercase;
}
