.example {
  padding: 24px 20px;
  margin-bottom: 22px;
  background-color: #f2f2f2;
}

.example__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: $font-family-oswald;
  color: #000000;
}

.example__text {
  margin: 0;
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example__advantages-list {
  margin: 0;
  display: flex;

  @include resetList;
}

.example__advantages-result {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: $font-family-oswald;
  color: #000000;
  text-transform: uppercase;
}

.example__advantages-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
  text-transform: lowercase;
}

.example__total-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}
