.example {
  padding: 24px 20px;
  padding-top: 14px;
  padding-bottom: 35px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    padding-top: 43px;
    background-color: #ffffff;
    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 22px;
    border: none;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: $font-family-oswald;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 148px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    width: 450px;
    margin-bottom: 67px;
  }
}

.example__content-wrapper {
  @media (min-width: $desktop-width) {
    width: 650px;
  }
}

.example__row-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    margin-bottom: 252px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.example__advantages-list {
  @include resetList;

  margin: 0;
  margin-bottom: 33px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 63px;
  }
}

.example__advantages-item {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 122px;
  margin-right: 32px;
  align-items: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 161px;
    margin-right: 40px;
    margin-left: -2px;
  }
}

.example__advantages-item:last-child {
  margin-right: 0;
}

.example__advantages-result {
  padding-top: 13px;
  padding-bottom: 18px;
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: $font-family-oswald;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: 767px) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__advantages-description {
  position: absolute;
  bottom: -16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  color: #000000;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    width: 140px;
    bottom: -6px;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }
}

.example__price-wr {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.example__total-price {
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 23px;
    margin-bottom: 7px;
    font-size: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.example__total-price br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
