.extra {
  padding-left: 20px;
  padding-right: 20px;
}

.extra__title {
  margin: 0;
  padding-bottom: 28px;
  margin-top: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: $font-family-oswald;
  color: #000000;
}

.extra__list {
  @include resetList;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.extra__item {
  padding-top: 13px;
  padding-bottom: 18px;
  border-bottom: 1px solid #cdcdcd;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }
}

.extra__subtitle {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: $font-family-oswald;
  color: #000000;
  text-transform: uppercase;
}

.extra-tile {
  display: flex;
  flex-direction: column;
}

.extra-tile-wr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.extra-tile__quantity {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.extra-tile__price {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.extra__bouns {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 280px;
  height: 289px;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 45px;
  //padding: 50px;
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat;
  background-color: #67b737;
  background-size: contain;
}

.extra__text {
  width: 175px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    top: 64px;
    display: block;
    width: 55px;
    height: 60px;
    left: 113px;
    background-color: red;
  }
}
