.features {
  padding: 24px 20px;
  margin-bottom: 22px;
}

.features__title {
  font: 400 24px/37px $font-family-oswald;
  color: #000000;
}

.features__about-text {
  font: 400 14px/18px $font-family;
  color: #000000;
}

.features__go-link {
  font: 400 16px/16px $font-family-oswald;
  color: #000000;
}
