.features {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.features__item {
  padding: 20px;
  margin-bottom: 20px;
  padding-top: 29px;
  background-color: #f2f2f2;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    box-sizing: border-box;
    width: 708px;
    margin-bottom: 30px;
    padding: 76px 50px 60px;

    &::after {
      content: "";
      position: absolute;
      width: 142px;
      height: 193px;
      left: 474px;
      bottom: 50%;
      margin-bottom: -85px;
      background: url("/img/icon-cat-slim.svg") no-repeat;
    }

    &::before {
      content: "";
      position: absolute;
      right: 64px;
      bottom: 50%;
      margin-bottom: -103px;
      width: 200px;
      height: 200px;
      background-color: #68b738;
      border-radius: 50%;
    }
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-bottom: 0;
    padding-bottom: 63px;
    margin-right: 80px;

    &:last-child {
      margin-right: 0;
    }

    &::before,
    &::after {
      display: none;
    }
  }
}

.features__item--get-weight {
  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      width: 268px;
      height: 397px;
      left: 409px;
      bottom: 50%;
      margin-bottom: -345px;
      background: url("/img/icon-cat-pro.svg") no-repeat;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      display: none;
    }
  }
}

.features__title {
  position: relative;
  margin: 0;
  margin-bottom: 32px;
  margin-left: 70px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-family: $font-family-oswald;
  color: #000000;
  text-transform: uppercase;

  &::before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    left: -70px;
    bottom: 50%;
    margin-bottom: -25px;
    background-color: #68b738;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 39px;
    height: 49px;
    left: -64px;
    bottom: 50%;
    margin-bottom: -20px;
    background: url("/img/icon-cat-slim.svg") no-repeat;
  }

  @media (min-width: $tablet-width) {
    position: static;
    margin-bottom: 24px;
    margin-left: 0;
    font-size: 36px;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin-left: 164px;
    margin-bottom: 72px;

    &::after {
      width: 70px;
      height: 97px;
      left: -148px;
      margin-bottom: -44px;
      background: url("/img/icon-cat-slim.svg") no-repeat;
    }

    &::before {
      position: absolute;
      display: block;
      width: 100px;
      height: 100px;
      left: -164px;
      bottom: 50%;
      margin-bottom: -50px;
    }
  }
}

.features__title--get-weight {
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    display: block;
    width: 68px;
    height: 30px;
    left: -78px;
    bottom: 50%;
    margin-bottom: -15px;
    background: url("/img/icon-cat-pro.svg") no-repeat;
  }

  @media (min-width: $tablet-width) {
    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      display: block;
      width: 132px;
      height: 57px;
      left: -179px;
      bottom: 50%;
      margin-bottom: -31px;
      background: url("/img/icon-cat-pro.svg") no-repeat;
    }
  }
}

.features__about-text {
  margin: 0 0 20px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    max-width: 380px;
    padding: 0;
    margin-bottom: 56px;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
    max-width: 444px;
    font-size: 16px;
    line-height: 24px;
  }
}

.features__go-link {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: $font-family-oswald;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    background: url("/img/icon-right-arrow-long.svg") no-repeat;
    width: 24px;
    height: 10px;
    right: -36px;
    bottom: 50%;
    margin-bottom: -5px;
  }

  @media (min-width: 767px) {
    font-size: 20px;
    line-height: 20px;

    &::after {
      right: -49px;
    }
  }
}

.features__center-wrapper {
  max-width: 280px;
  margin: 0 auto;
}
