.features {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.features__item {
  padding: 20px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  padding-top: 29px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 708px;
    margin-bottom: 30px;
    padding-top: 76px;
    padding-bottom: 60px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: 64px;
      bottom: 50%;
      margin-bottom: -106px;
      display: block;
      width: 200px;
      height: 200px;
      background-color: #68b738;
      border-radius: 50%;
    }
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-bottom: 0;
    margin-right: 80px;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      display: none;
    }
  }
}

.features__title {
  position: relative;
  margin: 0 0 32px 70px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-family: $font-family-oswald;
  color: #000000;
  text-transform: uppercase;

  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: -70px;
    bottom: 50%;
    margin-bottom: -25px;
    background-color: #68b738;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    display: block;
    width: 39px;
    height: 49px;
    left: -64px;
    bottom: 50%;
    margin-bottom: -20px;
    background: url("/img/icon-cat-slim.svg") no-repeat;
  }

  &:last-child {
    &::after {
      width: 67px;
      height: 28px;
      background: url("/img/icon-cat-pro.svg") no-repeat;
    }
  }

  @media (min-width: 767px) {
    position: static;
    font-size: 36px;
    margin-bottom: 24px;
    margin-left: 0;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin-left: 164px;
    margin-bottom: 66px;

    &::before {
      position: absolute;
      display: block;
      width: 100px;
      height: 100px;
      left: -164px;
      bottom: 50%;
      margin-bottom: -50px;
    }
  }
}

.features__about-text {
  margin: 0 0 20px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: 767px) {
  .features__about-text {
    width: 380px;
    padding: 0;
    margin-bottom: 56px;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }
}

.features__go-link {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: $font-family-oswald;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    background: url("/img/icon-right-arrow-long.svg") no-repeat;
    width: 24px;
    height: 10px;
    right: -36px;
    bottom: 50%;
    margin-bottom: -5px;
  }

  @media (min-width: 767px) {
    font-size: 20px;
    line-height: 20px;

    &::after {
      right: -49px;
    }
  }
}
