.how-to {
  padding: 24px 20px;
  margin-bottom: 22px;
}

.how-to__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: $font-family-oswald;
  color: #000000;
}

.how-to__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
