.how-to {
  padding: 24px 20px;
  margin-bottom: 22px;
}

.how-to__title {
  font: 400 36px/60px $font-family-oswald;
  color: #000000;
}

.how-to__description {
  font: 400 14px/18px $font-family;
  color: #000000;
}
