.how-to {
  padding: 24px 20px;
  margin-bottom: 22px;
}

.how-to__title {
  margin: 0;
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: $font-family-oswald;
  color: #000000;
}

.how-to__list {
  margin: 0;

  @include resetList;
}

.how-to__item {
  position: relative;
  margin-bottom: 30px;
  margin-left: 80px;

  &::before {
    content: "";
    position: absolute;
    left: -80px;
    width: 60px;
    height: 60px;
    background-color: #68b738;
  }
}

.how-to__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
