.input-box {
  display: flex;
  vertical-align: middle;
  min-height: 48px;
  padding-left: 18px;
  padding-right: 18px;
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 24px;
  }
}

.input-box__label {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: $font-family-oswald;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-right: 13px;
  }
}

.input-box--last {
  @media (min-width: $tablet-width) {
    margin-right: 40px;
  }
}

.input-box__label--radio {
  position: relative;
  margin-left: 17px;

  &::before {
    content: "";
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    left: -16px;
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 40px;
      height: 40px;
    }
  }
}

.input-box__input--radio:checked + .input-box__label--radio {
  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: -6px;
    border-radius: 50%;
    background-color: #68b738;
  }

  @media (min-width: $tablet-width) {
    &::after {
      left: -5px;
      width: 20px;
      height: 20px;
    }
  }
}

.input-box__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: $font-family-oswald;
  color: #444444;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.selection__fieldset--radio .input-box {
  display: flex;
  justify-content: flex-start;
}

.input-box__input {
  padding: 14px;
  flex-grow: 1;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: $font-family-oswald;
  color: #444444;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
}

.input-box__input[type="email"] {
  padding-right: 34px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -6px;
    width: 17px;
    height: 13px;
    background: url("/img/icon-mail.svg") no-repeat;
  }
}

.input-box__input[type="tel"] {
  padding-right: 34px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    background: url("/img/icon-phone.svg") no-repeat;
  }
}

.input-box__input--radio {
  display: none;
}

.input-box__input--checkbox {
  display: none;
}

.input-box__label--checkbox {
  position: relative;
  margin-left: 17px;

  &::before {
    content: "";
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid #f2f2f2;
    left: -16px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;

    &::before {
      width: 37px;
      height: 38px;
    }
  }
}

.input-box__input--checkbox:checked + .input-box__label--checkbox {
  &::after {
    content: "";
    position: absolute;
    width: 21px;
    height: 16px;
    left: -10px;
    background: url("/img/icon-tick.svg") no-repeat;
  }

  @media (min-width: $tablet-width) {
    &::after {
      width: 21px;
      height: 16px;
      left: -6px;
    }
  }
}
