.main-menu {
  display: flex;

  @media (min-width: $tablet-width) {
    align-items: flex-end;
  }
}

.main-menu__list {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  @include resetList;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    z-index: 2;
  }
}

.main-menu__item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 66px;
  width: 100%;
  text-align: center;
  border-top: 1px solid #e6e6e6;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    align-items: flex-start;
    margin-right: 35px;
    min-height: 0;
    border: none;

    &:last-child {
      margin-right: 0;
      border: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin-right: 34px;
    min-height: 0;

    &:last-child {
      margin-right: 0;
      border: none;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-menu__link--current {
  position: relative;

  @media (min-width: $tablet-width) {
    &::before {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 62px;
      height: 2px;
      background-color: #68b738;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 70px;
      background-color: #ffffff;
    }
  }
}

.main-menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  font-family: $font-family-oswald;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }
}
