.main-menu {
  display: none;
  //display: flex;
}

.main-menu__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  @include resetList;
}

.main-menu__item {
  text-align: center;
  width: 100%;
}

.main-menu__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  font-family: $font-family-oswald;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
