.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 24px;
  padding-top: 40px;
  background-color: #f2f2f2;

  @media (min-width: 767px) {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.main-footer__authtor {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-family-oswald;
  color: #000000;
  text-decoration: none;
}

.main-footer__text {
  margin: 0 134px 0 0;

  @media (min-width: 767px) {
    margin: 0;
    width: 134px;
    line-height: 16px;
  }
}

.main-footer__logo {
  display: block;
}

.main-footer__logo path {
  fill: #666666;
}
