.main-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.main-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 66px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.logo__img {
  width: 190px;
  height: 38px;
  display: block;
}

.main-header__toggle {
  // margin-right: 20px;
  width: 25px;
  height: 18px;
  font-size: 0;
  background-image: url("/img/icon-mobile-menu.svg");
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}
