.main-menu {
  display: flex;

  @media (min-width: $tablet-width) {
    height: 34px;
    margin-bottom: 6px;
    align-items: flex-start;
  }
}

.main-menu__list {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  @include resetList;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    height: 34px;
  }

  @media (min-width: $tablet-width) {
    z-index: 1;
  }
}

.main-menu__item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 66px;
  width: 100%;
  text-align: center;
  border-top: 1px solid #e6e6e6;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    align-items: flex-start;
    min-height: 24px;
    margin-right: 42px;
    border: none;

    &:last-child {
      margin-right: 0;
      border: none;
    }

    .main-menu__item--current {
      border-bottom: 2px solid #68b738;
    }
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin-right: 34px;

    .main-menu__item--current {
      border-bottom: 2px solid #ffffff;
    }

    &:last-child {
      margin-right: 0;
      border: none;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  font-family: $font-family-oswald;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }
}
