.product-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-bottom: 22px;
}

.product-tile__img-wrapper {
  margin-left: 6px;
  margin-top: -17px;
}

.product-tile__product-img {
  height: 140px;
  width: 135px;
}

.product-tile__wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: -4px;

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.product-tile__title {
  width: 88px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-family-oswald;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.product-tile__spec {
  width: 145px;
  margin-top: 11px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.product-tile__description {
  // margin-left: -7px;
}

.product-tile__table-row {
  margin-bottom: -4px;

  &:last-child {
    margin-top: 0;
  }
}

.product-tile__table-row td:last-child {
  text-align: right;
}

.product-tile__btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $desktop-width) {
    width: 170px;
  }
}
