.product-tile {
  //
}

.product-tile__title {
  font: 400 16px/20px $font-family-oswald;
  color: #000000;
  text-transform: uppercase;
}

.product-tile__spec {
  font: 400 12px/16px $font-family;
  color: #444444;
}

.product-tile__btn {
  font: 400 16px/20px $font-family-oswald;
  color: #000000;
  text-transform: uppercase;
}
