.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  height: 482px;
  background-size: 320px 305px;
  background-position: top center;

  &::after {
    position: absolute;
    content: "";
    display: block;
    top: 166px;
    left: 50%;
    margin-left: -140px;
    width: 280px;
    height: 271px;
    background: url("/img/index-can-mobile@1x.png") no-repeat;
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 320px;
    height: 306px;
    background: url("/img/index-background-mobile@1x.jpg") no-repeat;
  }

  @media (min-width: $tablet-width) {
    height: 827px;
    margin-bottom: 23px;

    &::after {
      position: absolute;
      content: "";
      display: block;
      top: 243px;
      left: 50%;
      margin-left: -366px;
      width: 709px;
      height: 609px;
      background: url("/img/index-can-tablet@1x.jpg") no-repeat;
    }

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    height: 586px;
    margin-bottom: 80px;
  }
}

.promo__wrapper {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 426px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 28px;

  @media (min-width: 767px) {
    position: relative;
    align-items: flex-start;
    padding-left: 30px;
    padding-top: 39px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.promo__title {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: $font-family-oswald;
  color: #ffffff;

  @media (min-width: 767px) {
    margin-bottom: 41px;
    width: 448px;
    margin-left: 73px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #000000;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    font-size: 60px;
    line-height: 60px;
  }
}

.promo__slogan {
  margin: 0;
  margin-bottom: 306px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-family: $font-family-oswald;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: 767px) {
    margin-left: 76px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__btn {
  font-family: $font-family-oswald;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-left: 76px;
    width: 244px;
    height: 30px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__product-img {
  margin: 0 auto;
  margin-bottom: 3px;

  @media (min-width: 767px) {
    width: 709px;
    height: auto;
  }
}
