.slider {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 767px) {
    box-sizing: border-box;
    width: 768px;
    height: 462px;
    justify-content: flex-end;
    padding-bottom: 65px;
    margin-left: -30px;
    background-color: #f2f2f2;
  }
}

.slider__wrapper {
  margin-bottom: 20px;
}

.slider__image {
  @media (min-width: 767px) {
    height: 500px;
    width: auto;
  }
}

.slider__control {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-family-oswald;
  color: #000000;

  @media (min-width: 767px) {
    font-size: 20px;
  }
}
