// device width
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px; // text prop
$ff-arial: arial, sans-serif;
$ff-oswald: "Oswald", arial, sans-serif;
// colors
$main-green: #67b737;
$main-gray: #f2f2f2;
$gray-text: #444444;
$btn-green-hover: #5daa2f;
$btn-gray: #f0f1f0;
$btn-gray-hover: #eaebea;
$error-color: #ff8282;
