// device width
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px; // text prop
$font-family: arial, sans-serif;
$font-family-oswald: "Oswald", arial, sans-serif;
// colors
$btn-green: #67b737;
$btn-green-hover: #5daa2f;
$btn-gray: #f0f1f0;
$btn-gray-hover: #eaebea;
$error-color: #ff8282;
